
.nopadding{
	padding: 0;
}

.block{
	
	height:315px;
    border: 2px black solid;
    margin:0;	
	 
}
.top{
	height:220px;
	background: maroon;

	 
}

.bottom{
	 
	 height:85px;	
	 margin-right:10px;
}
.item-title{
	text-align:center;
	margin:0;
	color:maroon;
}
.cut_price{
	font-size:15px;
}

.dis_price{
	font-size:18px;
}
.row1{
	
margin-top:15px;
}

.top img{
	
	height:100%;
}
.pp-desc-head{
	font-size:30px;
	
}

.pp-desc-detail{
	font-size:20px;
	
}

.buy{
	width:100%;
	height:60px;
	font-size:30px;
}
